/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */  

/*  =================================================================
    BEGIN AUTHOR STYLING
    ================================================================= */  

.container  {
    /* Positioning */
    /* Box-model */
    width: 100%;
    max-height: 100%;
    /* Typography */
    /* Visual */
    /* Misc */    
}

.links-wrap {
	/* Positioning */
	/* Box-model */
	width: 80%;
	margin: 50px auto;
	/* Typography */
	/* Visual */
	border:6px solid rgba(0,255,200,1);
	background-color: black;
	/* Misc */  
}

.links-wrap a:link,
.links-wrap a:visited {
	padding: 3px 4px 0 4px;
	text-decoration: line-through;
	color: white;
}

.links-wrap a:hover {
	color: rgba(0,255,200,1);
}

.about {
	/* Positioning */
	padding: 30px;
	/* Box-model */
	/* Typography */
	font-family: 'Martel', serif;
	font-size: 30px;
	line-height: 40px;
	/* Visual */
	color: white;
	/* Misc */
}